.container{
  overflow: hidden;
  
}
.heroSection {
  width: 100%;
  height: 70vh;
  background: url("bg2.gif");
  background-size: cover;
  background-position: 80% 50%;
  background-repeat: no-repeat;
}
.dropShadow {
  width: 100%;
  height: 70vh;
  position: absolute;
    background: radial-gradient(closest-side, #efefef00, #12121255);
  z-index: 0;
  opacity: 0.5;
  overflow: hidden;
}
.dropShadow:hover{
    background: radial-gradient(closest-side, #efefef00, #12121299);
}
