.card {
  width: 40em;
  min-height: 10em;
  /* box-shadow: 0 1px 4px #12121288; */
  border: 1px solid #12121288;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--secondary);
  transition: all 0.17s ease-in-out;
}
.language {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1em;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .card {
    height: auto;
  }
}
