.expandField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #12121222;
  padding: 1em;
}
.description {
  /* display: none; */
  padding: 0 1em;
  transition: all 0.17s ease-in-out;
  overflow-y: auto;
  background-color: #3a3a3a66;
}
