.header {
  width: 100vw;
  height: 4em;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  z-index: 1;
}
.header ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
  list-style: none;
  /* overflow: hidden; */
}
.header ul a {
  font-size: 18px;
  color: #efefef;
  transition: color 1s ease-in-out;
}

.header ul li {
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.17s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
.header ul:has(li:hover) > li:not(:hover) {
  filter: blur(1px);
  opacity: 0.5;
}
.header ul a:hover {
  color: #fff;
  text-decoration: underline;
}
.backgroundAudio{
  position: absolute;
  top:90vh;
  left: 5%;
}