.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
  margin: 1em auto;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    flex-direction: column;
    gap: 1em;
  }
  .container > * {
    width: 90% !important;
  }
}
