.container {
  /* height: 400em; */
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.stocks {
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .stocks {
    display: none;
  }
  .container {
    gap: 1em;
  }
}
