:root {
  font-family: "Space Mono", monospace;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  line-height: 1.5;
  
  font-weight: 400;
  --background: linear-gradient(to right, #23075B, #330B82)  ;
  --secondary: #150933ee;
  --fontColor: #fefefe;
  --actionColor: #fefefe;
  --bodyContentColor: #231c36;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--fontColor);
  overflow-x: hidden;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #fcfcfc;
    --secondary: #fcfcfc;
    --fontColor: #2f2f2f;
    --actionColor: #121212;
    --bodyContentColor: #f8f8f8;
    color: var(--fontColor);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    --background: #0f0f0f;
    --secondary: #1f1f1f;
    --fontColor: #f8f8f8;
    --actionColor: #efefef;
    --bodyContentColor: #121212;

    color: var(--fontColor);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
